@import 'variables';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: $color-primary;

  &__header {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $size-base;
  }

  &__separator {
    font-weight: bolder;
    margin: $size-xs 0;
    color: $color-white;
  }

  .home__main-button {
    background-color: $color-white;
    width: 100%;
  }

  .home__secondary-button {
    margin-top: $size-xs;
    color: $color-white;
    border-color: $color-white;
    width: 100%;
  }
}
