@import '../variables';

.join {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-primary;

  &__logo {
    margin: $size-s;
  }

  &__name-input {
    width: 100%;
    margin-bottom: $size-xs;

    :first-child {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__game-id {
    margin-right: $size-xs;
  }

  &__container {
    height: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $size-xs $size-xs $size-xs;
    padding: $size-xs;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba($color: $color-black, $alpha: 0.25);

    &--top {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--bottom {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    h2 {
      text-align: center;
    }
  }

  &__header {
    position: relative;
    width: 100%;

    &--coachmark {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
