.PickTeams {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TeamNames {
  width: 80%;
  flex-grow: 1;
  overflow-y: scroll;
}

.TeamNamesHeader {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.Or {
  margin-top: 20px;
  margin-bottom: 20px;
}
