.LandingPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.LandingPage h1 span {
  font-size: .75rem;
}

.LandingPage__join-game-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.LandingPage__join-game-input {
  margin-top: 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.LandingPage__start-game-button {
  margin-bottom: 1.5rem;
}
