@import 'variables';

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $color-white;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 400;
  color: $color-dark-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}
