// size

$size-xxs: 0.5em;
$size-xs: 1em;
$size-s: 2em;
$size-base: 4em;

// color

$color-black: #000;
$color-light-gray: #eee;
$color-dark-gray: #444;
$color-gray: #aaa;
$color-white: #fafafa;

$color-primary: #ff5d28;
$color-secondary: #c36be2;

$color-orange: $color-primary;
$color-green: #3cdabd;
$color-purple: $color-secondary;
$color-yellow: #b6db22;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
}
