// size

$size-xs: 1em;
$size-s: 2em;
$size-base: 4em;

// color

$color-black: #000;
$color-light-gray: #eee;
$color-gray: #bbb;
$color-white: #fafafa;
$color-primary: #ff5d28;

:export {
  colorPrimary: $color-primary;
}
