.slider {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .scrollable {
    overflow-y: auto;
  }

  &__arrows {
    display: flex;
    justify-content: space-around;
  }
}
