.DraggableTopics {
  height: 100%;
}

.DraggableTopics__topics {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DraggableTopic {
  background: lightgray;
  user-select: none;
  padding: 0 .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  transition: box-shadow .2s;
}

.DraggableTopic--dragging {
  background: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4); 
}

.DraggableTopic--ranked {
  background: lightblue;
}

.DraggableTopic--correct {
  background: green;
}

.DraggableTopic--incorrect {
  background: red;
}

.DraggableTopic__title {
  white-space: nowrap;
  overflow: auto;
}
