.DraggableTopics {
  height: 100%;
}

.DraggableTopics__topics {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DraggableTopic {
  background: lightgray;
  user-select: none;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s;
}

.DraggableTopic__right-content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.DraggableTopic__right-content:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.DraggableTopic__right-content--sized {
  width: 25%;
}

.DraggableTopic__right-content--circle {
  border: 1px solid gray;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.DraggableTopic__right-content--guessed-correct {
  background: rgb(144, 238, 144);
}

.DraggableTopic__right-content--guessed-incorrect {
  background: rgb(238, 144, 144);
}

.DraggableTopic__right-content--guessed-middle {
  background: rgb(238, 238, 144);
}

.DraggableTopic--dragging {
  background: lightgreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.DraggableTopic--ranked {
  background: lightblue;
}

.DraggableTopic--correct {
  background: green;
}

.DraggableTopic--incorrect {
  background: red;
}

.DraggableTopic__title {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  margin-right: 5%;
  scroll-behavior: smooth;
}

.DraggableTopic__title--sized {
  width: 70%;
}
