.TeamRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .6rem;
}

.TeamRowButton {
  flex-grow: 1;
}

.TeamRowPlayerCount {
  margin-left: 3rem;
}