@import 'variables';

.create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__start-button {
    margin-bottom: $size-base;
  }
}

.game-mode {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__choices {
    display: flex;
    flex-direction: column;
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__choices {
    display: flex;
    flex-direction: column;
  }
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
