@import 'variables';

.create {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-primary;

  &__logo {
    margin: $size-s;
  }

  &__container {
    height: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 $size-xs $size-xs $size-xs;
    padding: $size-xs;
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba($color: $color-black, $alpha: 0.25);

    h2 {
      text-align: center;
    }
  }

  &__slider {
    flex-grow: 1;
    height: 1px;
  }

  button {
    @media (orientation: landscape) {
      visibility: hidden;
    }
  }
}

.game-mode {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.5rem;
    margin-bottom: $size-xs;
  }

  &__choices {
    display: flex;
    flex-direction: column;
  }
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.5rem;
    margin-bottom: $size-xs;
  }

  &__choices {
    display: flex;
    flex-direction: column;
  }
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 1.5rem;
    margin-bottom: $size-xs;
  }
}
