@import '../variables';

.game {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__drawer {
    min-width: 65%;
    max-width: 80%;
  }

  &__winner-wrapper {
    margin-top: $size-xs;
  }

  &__winner {
    background-color: lighten($color: $color-green, $amount: 20%) !important;
    color: $color-white !important;

    span {
      font-weight: bold;
      font-size: 1.2em;
      padding: 0 $size-xs;
    }
  }
}

.game-header {
  padding: $size-xs $size-s 0 $size-s;
  display: flex;
  justify-content: space-between;

  a {
    font-weight: bold;
    color: $color-orange;
  }

  span {
    font-weight: bold;
  }

  &__game-id {
    color: $color-green;
  }
}

.game-body {
  flex-grow: 1;
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  h1 {
    color: $color-orange;
    margin-bottom: $size-xxs;
    margin-top: $size-xxs;
  }
}

.game-footer {
  display: flex;
  flex-direction: column;
  padding: $size-xs $size-s;
  text-align: center;

  &__actions {
    margin-top: $size-xs;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__action {
    width: 50%;

    button {
      width: 100%;
    }

    &--confirming {
      font-weight: bold;
      color: $color-purple;
    }
  }
}
