@import '../variables';

.rankable-topics {
  margin-bottom: $size-xs;

  &__topic {
    margin: $size-xs $size-xs 0 $size-xs;
  }
}

.rankable-topic {
  display: flex;
  align-items: center;
  padding: 0 $size-s;
  text-align: left;
  min-height: 5em;

  &__name {
    flex-grow: 1;
    margin-right: $size-s;
  }

  &--correct {
    background-color: $color-green;
    color: $color-light-gray;
  }

  &--incorrect {
    background-color: $color-purple;
    color: $color-light-gray;
  }
}
