@import '../variables';

.rankable-topics {
  margin-bottom: $size-xs;

  &__topic {
    margin: $size-xs $size-xs 0 $size-xs;
  }
}

.rankable-topic {
  display: flex;
  align-items: center;
  padding: 0 $size-s;
  text-align: left;
  min-height: 5em;

  &__names {
    flex-grow: 1;
    margin-right: $size-s;
    display: flex;
    flex-direction: column;
  }

  &--correct {
    background-color: lighten($color: $color-green, $amount: 25%);
  }

  &--incorrect {
    background-color: lighten($color: $color-orange, $amount: 25%);
  }
}
