@import '../variables';

.scores {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $size-xs;
  overflow-y: hidden;

  h1 {
    align-self: center;
    color: $color-orange;
    margin-top: $size-xxs;
    margin-bottom: $size-xxs;
  }

  &__players {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $size-s;
    overflow-y: auto;
  }

  &__player {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: $size-xs;
  }

  &__player-score {
    width: 100%;
    display: flex;
    align-content: center;

    &--index {
      font-weight: bold;
    }

    &--name {
      margin-left: $size-xxs;
      margin-right: $size-xxs;

      &.inactive {
        color: $color-gray;
      }
    }

    &--score {
      text-align: right;
      flex-grow: 1;
      font-weight: bold;
      color: $color-orange;
    }

    &--deactive {
      margin-top: $size-xs;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__feedback {
    margin-top: $size-xs;
  }
}
