.Homescreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomescreenTeams {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  margin: .75rem 0;
}

.HomescreenActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: .6rem;
}

.HomescreenActionButton button {
  margin-left: .6rem;
}
