.TeamSummary {
  width: 80%;
}

.TeamSummaryHeader {
  display: flex;
  align-items: baseline;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.TeamSummaryHeader__name {
  font-weight: bold;
  font-size: 1.5em;
  flex-grow: 1;
}

.TeamSummaryHeader__average {
  font-size: 1.15em;
  margin-right: 0.5rem;
  font-style: italic;
  color: gray;
}

.TeamSummaryHeader__score {
  font-size: 1.15em;
  font-weight: bold;
}

.TeamSummary__player {
  margin-left: 1rem;
  font-size: 1.15em;
}

.TeamSummary__player:not(:last-child) {
  margin-bottom: 0.5rem;
}
