.TeamSummary {
  width: 75%;
}

.TeamSummary__name {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}

.TeamSummary__average-score {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-bottom: 0.25rem;
  font-size: 1.15em;
}

.TeamSummary__player {
  margin-bottom: 0.25rem;
  font-size: 1.15em;
}
